.chatheadding-container{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    right: 2px;
    width: 60%;
    justify-content: space-between;
    background-color: white;
}