.login-container{
display: flex;
align-items: center;
justify-content: center;
width: 100vw;
height: 100vh;
}
.login-outer-box{
background-color: rgba(117, 117, 226, 0.795);
border-radius: 5px;
padding: 20px;
}