.input-section-container{
display: flex;
align-items: center;
justify-content: space-evenly;
position: fixed;
bottom: 10px;
width: 60%;
background-color: white;
right: 3px;
margin-bottom: -10px;
padding-bottom: 20px;
padding-top: 10px;

}
.media-picker{
width: 20%;
display: flex;
justify-content: center;
align-items: center;
}
.media-picker img{
    width: 30%;
    border-radius: 50%;
}
.input-box{
width: 60%;
display: flex;
justify-content: center;
align-items: center;
}
.input-box textarea{
    height: 50px;
    width: 100%;
    border-radius: 5px;


}
.input-box textarea:focus{
    outline: none;
    border: 2px solid green;

}
.send-btn{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.send-btn button{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    outline: none;
    border: 0;
    box-shadow: 1px 0.5px 5px ;

}
.send-btn button:hover{
    cursor: pointer;
    background-color: blue;
    color: white;

}