.chat-space-container{
 margin-top: 10px;
 overflow-x: hidden;
 scroll-behavior: smooth;
}


.receive-message{
display: flex;
justify-content: flex-start;
margin: 10px;
overflow: hidden;

}
.receive-message p{
    background-color: rgb(255, 255, 255);
    padding: 18px;
    word-break: break-word; 
    max-width: 80%;
    border-radius: 2px 15px 15px;
    color: black;
    

}

.send-message{
display: flex;
justify-content: flex-end;
margin: 10px;

}
.send-message p{
    background-color: rgb(97, 143, 243);
    padding: 18px;
    word-break: break-word; 
    max-width: 300px;
    border-radius: 15px 15px 2px;
    color: #ffffff;
}

