.chat-space-container{
 margin-top: 10px;
 overflow-x: hidden;
 scroll-behavior: smooth;
 background-color: rgb(236, 147, 84);
}


.receive-message{
display: flex;
justify-content: flex-start;
margin: 10px;
overflow: hidden;

}
.receive-message p{
    background-color: rgb(30, 255, 0);
    padding: 18px;
    word-break: break-word; 
    max-width: 300px;
    border-radius: 5px;
    
}

.send-message{
display: flex;
justify-content: flex-end;
margin: 10px;

}
.send-message p{
    background-color: rgb(0, 162, 255);
    padding: 18px;
    word-break: break-word; 
    max-width: 300px;
    border-radius: 5px;
}